@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

* {
  box-sizing: border-box;
}

body {
  width: 100vw;
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

/* change navbar-brand color */
.navbar a.navbar-brand {
  color: #8a8ac1;
  font-weight: bold;
}

/* change navbar-brand color on hover */
.navbar a.navbar-brand:hover {
  color: chartreuse;
}

/*  change navbar li colors, also active one but not disabled one */
.navbar ul.navbar-nav li.nav-item a.nav-link {
  color: white;
}

/* change navbar-toggler inside lines color (stroke) */
.navbar-light span.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='white' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
  color: white;
  width: 1.2em;
}

/* change hamburger button border color */
.navbar-light button.navbar-toggler {
  border-color: white;
}

/* change navbar background on collapse */
@media (max-width: 960px) {
  nav.navbar {
    background: #1d1160;
    z-index: 5;
  }
  .navbar-collapse.collapse.show,
  .navbar-collapse.collapsing {
    background: #1d1160;
    padding: 1rem 0;
  }

  .navbar-collapse.collapse.show .navbar-nav,
  .navbar-collapse.collapsing .navbar-nav {
    text-decoration: none;
    align-items: flex-start;
  }
}
