.hero {
  background: url("../assets/hero.png");
  height: 100vh;
  width: auto;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  filter: blur(2px);
  -webkit-filter: blur(2px);
  position: relative;
  left: 0;
}

.hero-cover {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  position: absolute;
  background-color: #1d1160;
  opacity: 60%;
}

.blog-post h1.title {
  font-weight: bold;
  font-size: 3.6rem;
  line-height: 1.43;
  color: #fff;
  margin: 1rem 0;
}

@media (max-width: 960px) {
  .blog-post h1.title {
    font-size: 2.1rem;
  }
}

.blog-post .tags {
  display: flex;
  align-items: center;
  margin: 1rem 0;
  font-weight: bold;
  font-size: 1.6rem;
  line-height: 1.21;
  color: chartreuse;
  flex-wrap: wrap;
}

@media (max-width: 960px) {
  .blog-post .tags {
    font-size: 1rem;
  }
}

.blog-post .tags .tag {
  margin-left: 1rem;
  color: #fff;
}

.blog-post p.date {
  display: inline-block;
  font-weight: bold;
  font-size: 1.6rem;
  line-height: 1.21;
  background-color: #000;
  color: #fff;
  padding: 0.5rem;
  margin: 1rem 0;
}

@media (max-width: 960px) {
  .blog-post p.date {
    font-size: 1rem;
  }
}

.blog-post .post-body * {
  padding: 1rem 0;
}

.blog-post .post-body h1 {
  font-weight: bold;
  font-size: 1.6rem;
  line-height: 1.43;
  font-style: italic;
  color: gold;
}

@media (max-width: 960px) {
  .blog-post .post-body h1 {
    font-size: 1.2rem;
  }
}

.blog-post .post-body h2 {
  font-weight: bold;
  font-size: 2.1rem;
  line-height: 1.43;
  color: #cceebc;
}

@media (max-width: 960px) {
  .blog-post .post-body h2 {
    font-size: 1.4rem;
  }
}

.blog-post .post-body p {
  font-size: 1.4rem;
  line-height: 1.6;
  color: #fff;
}

@media (max-width: 960px) {
  .blog-post .post-body p {
    font-size: 1.2rem;
  }
}

.blog-post .post-body img {
  width: 100%;
}

.blog-post .post-body pre {
  background: #000;
  padding: 2rem;
}

.blog-post .post-body pre code {
  color: #fff;
}
